:root{
    --bitcoing-orange:#F7871C;
    --sotf-orange:#FFE6D0;
    --secondary-blue:#1A8FF9;
    --soft-blue:#E2F2FF;
    --warm-black:#1F1B1B;
    --white:white;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(209deg,#0F0F11 1.8%,#F2851D 80% )
}
.header_img_text{
    margin: 5rem auto;
    font-size: 3rem;
    color: var(--bitcoing-orange);
}
.header_title_container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    text-align: center;
    margin: 0% auto;
}
.header_title_container h1{
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.header_title_container p{
    margin-top: 2.5rem;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 600;
}
.header_title_container .header_button{
    position: absolute;
    top: 270px;
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 35px;
    height: 48px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgb(89, 73, 30,0.16);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--warm-black);
    text-decoration: none;
    line-height: 5rem;
}
.header_button span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/scr/logos/arrow_down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}
main{
    width: 100%;
    height: auto;
    background-color: var(--white);
}
.main_money_information{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main_money_information .background_image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("/scr/img/Bitcoin.svg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_money_information_title{
    width: 100%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
}
.main_money_information_title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.main_money_information p{
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1rem;
    color:#757575;
}
.main_actual_money{
    width: 70%;
    height: 360px;
    min-width: 280px;
    max-width: 500px;
    margin: 0 auto;
}
.main_actual_money p{
    font-size: 3rem;
    color: var(--bitcoing-orange);
}
.main_actual_money .actual_actual_money{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoing-orange);
}
.actual_money_container{
    width: 90%;
    min-width: 230px;
    max-width: 250px;
    height: 250px;
    margin: 0 auto;
}
.actual_money_container table{
    width: 100%;
    height: 100%;
}
.actual_money_container td{
    width: 50%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #757575;
    background-color: #FAF6F8;
}
.actual_money_container .table_top_left{
    border-radius: 15px 0 0 0;
}
.actual_money_container .table_top_right{
    border-radius: 0 15px 0 0;
}
.actual_money_container .table_bottom_left{
    border-radius: 0 0 0 15px;
}
.actual_money_container .table_bottom_right{
    border-radius: 0 0 15px 0;
}
.actual_money_container .table_right{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.actual_money_container .up{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("/scr/logos/trending_up_icon_128722.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.actual_money_container .down{
    display: inline-block;
    width: 30px;
    height: 18px;
    background-image: url("/scr/logos/trending-down_118528.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.actual_money_date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: #FFE5D1;
    border-radius: 8px;
}
.actual_money_date p{
    font-size: 1.5rem;
    color: #757575;
    font-weight: 500;
}
.main_product_details{
    position: relative;
    width: 100%;
    min-width:280px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.main_product_details .product_detail_company_logo{
    position: absolute;
    width: 80px;
    height: 45px;
    background-image: url("/scr/logos/shoe.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -10px;
    left: calc(50% - 40px);
}
.product_detail_title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product_detail_title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.product_detail_title p{
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--white);
}
.product_card{
    width: 90%;
    min-width: 258px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: black;
    border-radius: 5px;
}
.product_card .time{
    display: inline-block;
    width: 20px;
    height: 23px;
    margin-bottom: 10px;
    background-image: url("/scr/logos/clock.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: orange;
}
.product_card_title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
}
.product_card_text{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--white);
}
.background_img_container{
    width: 100%;
    min-width: 280px;
    height: 50vh;
    background-image: url("/scr/img/img_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.background_img_container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.main_plans_container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans_title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans_title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.plans_title p{
    padding-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--warm-black);
}
.plans_container_cards{
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: #FFE5D1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89, 73, 30, 0.16);
}
.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: #F2851D;
    border-radius: 5px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.3rem;
    color: var(--white);
    padding: 8px;
}
.plan_card_title{
    padding-top: 30px;
    font: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}